body{
	padding: 0;
	margin: 0;
	text-align: center;
	color: #333;
	font-size: 14px;
	font-size: "宋体",arial;
}
li{
	list-style-type: none;
}
a{text-decoration: none;}
img,input{vertical-align: middle;}